output "HDMI-A-1" {
  mode "3840x2400@59.994"
  scale 2.0
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5" { open-on-output "HDMI-A-1"; }
workspace "6" { open-on-output "HDMI-A-1"; }
workspace "7" { open-on-output "HDMI-A-1"; }
workspace "8" { open-on-output "HDMI-A-1"; }
workspace "9" { open-on-output "HDMI-A-1"; }
workspace "10"
